@charset "UTF-8";

:root{
    --color01: #FFFFFF;
    --color02: #000000;
    --color03: #021D40;
    --color04: #022859;
    --color05: #023373;
    --color06: #035AA6;
    --color07: #0487D9;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    color: var(--color01);
    background-image: linear-gradient(-45deg, var(--color02), var(--color04), var(--color05));
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--color02);
}

.header_nav{
    display: flex;
    gap: 20px;
}

.header_nav a {
    color: var(--color01);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    font-size: 14px;
}

.header_nav a:hover{
    text-decoration: underline;
    text-underline-offset: 8px ;
    text-decoration-thickness: 2px; 
    border-bottom: 2px solid var(--color05);
    padding-bottom: 5px;
    color: var(--color05);
}

