@charset "UTF-8";

:root{
    --color01: #FFFFFF;
    --color02: #000000;
    --color03: #FF0000;
    --color04: #4F0F04;
    --color05: #AD1005;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    color: var(--color01);
    background-image: linear-gradient(45deg, var(--color02), var(--color04), var(--color05));
}

header{
    background-color: var(--color02);
    text-align: left;
}

.link-h{
    text-decoration: none;
    color: var(--color01);
}

.link-h:hover{
    color: #4F0F04;
}
